/* Header */

.header {
  padding: 0 50px;
  width: 1100px;  
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.nav {
  width: 391.48px;
}

.nav-list {
  list-style: circle;
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.nav-list li:first-child {
  list-style: none;
}

.nav-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 18px;
}

.nav-link-active {
  text-decoration: none;
}

.logo {
  justify-self: center;
  margin: 0 20px;
}

.logo-image {
  width: 148px;
  height: 105px;
}

.address {
  margin-left: 100px;
  width: 236px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 24.3px;
  font-size: 18px;
}

.address-link {
  color: inherit;
  text-underline-offset: 4px;
}

/* Cover */

.cover {
  position: relative;
  margin: 0 0 180px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 48px;
}

.cover-title {
  position: relative;
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover-title-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  width: 1030px;
}

.cover-word {
  display: block;
}

.cover-word.left {
  text-align: left;
}

.cover-word.center {
  text-align: center;
  margin-left: 4px;
}

.cover-word.right {
  text-align: right;
  margin-left: 30px;
}

.cover-description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cover-subtitle {
  color: #fff;
  width: 660px;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  margin: 0;
  line-height: 28px;
}

.button {  
  place-items: center;
  display: grid;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
}

.button-theme-transparent {
  color: #fff;
  background: transparent;
  text-decoration: none;
}

.has-dark-overlay {
  position: relative;
}

.has-dark-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* Lots */

.lots {
  margin: 180px 24px 155px 24px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 40px 26px;
  text-transform: uppercase;
}

.lots-cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 0;
  margin: 0 0 32px;
}

.card-link {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;
}

.card-content {
  position: relative;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 596px;
  width: 334px;
}

.card-title, .card-text {
  position: relative;
  z-index: 1;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
  margin: 0;
}

.card-text {
  font-size: 20px;
  margin: 0;
}

.card-film {
  background: url("../images/card-lot-01.jpg") center/cover no-repeat;
}

.card-book {
  background: url("../images/card-lot-02.jpg") center/cover no-repeat;
}

.card-painting {
  background: url("../images/card-lot-03.jpg") center/cover no-repeat;
}

.lots-more {
  display: inline-block;
  margin: 0 0 0 40px;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 20px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 25px 24px;
  align-items: start;
  margin: 120px 24px 155px 24px;
  width: 1052px;
}

.about-logo-wrap {
  grid-row: 1 / span 2;
}

.about-logo {
  width: 240px;
  height: 240px;
  margin-left: 47px;
  border-radius: 50%;
  background: #000;
  display: grid;
  place-items: center;
}

.about-logo-img {
  width: 62%;
  height: auto;
}

.about-content {
  margin: 0 0 0 95px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  margin: 100px 0;
  text-transform: uppercase;
}

.about-text-p {
  font-size: 20px;
  line-height: 24px;
  margin: 26px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-text-p p:first-child {
  width: 688px;
}

.about-text-p p:last-child {
  width: 693px;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  align-items: start;
  padding-bottom: 90px;
  margin: 0 50px;
}

.footer-address {
  width: 240px;
  font-size: 18px;
  line-height: 24.3px;
}

.nav-list-footer {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 24.3px;
}

.nav-link.nav-link-active {
  text-decoration: none;
  text-underline-offset: 4px;
}

.socials {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: end;
  padding: 0;
  margin: 0;
}

.socials-item {
  display: block;
}

.socials-link {
  height: 48px;
  width: 48px;
}